@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Edvin's Pizzeria</h1>
    <p>Head to Orders to order and see our wonderful pizzas</p>
</div>