@page
@model WebApp.Pages.CannotCreate

@{
    ViewData["Title"] = "CreateError";
}

<h1>Warning!</h1>

<div>
    <h4>Cannot create this item</h4>
    <hr />
    <text>This item's configuration is invalid, please check your configurations</text>


</div>
<div>
    <a asp-page="./Index">Back to Main Menu</a>
</div>