@page
@model WebApp.Pages.CreateGame

@{
    ViewData["Title"] = "Create Game";
}

<h1>The game has been started!</h1>
<h2>Click on the row to continue to the game</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>
            Game Id
        </th>
        <th>
            Config String
        </th>
    </tr>
    </thead>
    <tbody>
    @if (Model.IsRandom == false)
    {
        <tr onclick="window.location.href = '/Game?id=@Model.GameId&placement=1'">
            <td>
                @Model.GameId
            </td>
            <td>
                @Model.Config.ConfigStr
            </td>
        </tr>
    }
    else
    {
        <tr onclick="window.location.href = '/Game?id=@Model.GameId'">
            <td>
                @Model.GameId
            </td>
            <td>
                @Model.Config.ConfigStr
            </td>
        </tr>
    }
    </tbody>
</table>