@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BattleShips Home</h1>
</div>

<div class="text-center">
    <a href="/Configs/Index"><h4 class="display-4">Start New Game</h4></a>
</div>

<div class="text-center">
    <a href="/LoadGame"><h4 class="display-4">Load Game</h4></a>
</div>